<app-navbar></app-navbar>
<section class="container">
  <div class="row checklist">

    <form [formGroup]="userModel" (ngSubmit)="onSubmitRegister()">
      <div class="mb-3">
        <label for="exampleInputname" class="form-label">User Name</label>
        <input type="text" class="form-control"  placeholder="Name" formControlName="userName">
      </div>

      <div class="mb-3">
        <label for="exampleInputname" class="form-label">Nick Name</label>
        <input type="text" class="form-control"  placeholder="LName" formControlName="name">
      </div>

      <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Email address</label>
        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email" formControlName="email">
        <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
      </div>
      <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">Password</label>
        <input type="password" class="form-control" placeholder="Password" formControlName="password">
      </div>

      <div class="mb-3">
        <label for="exampleInputPassword1">Confirm Password</label>
        <input type="password" class="form-control" placeholder="re_Password" formControlName="re_password">
      </div>

      <div class="mb-3">
        <label for="exampleInputname">Phone</label>
        <input type="text" class="form-control"  placeholder="phone" formControlName="phone">
      </div>
      <div class="mb-3">
      <input type="radio" value="0" formControlName="role"> User
      <input type="radio" value="2"  formControlName="role"> Writer
      <input type="radio" value="1"  formControlName="role"> Admin
    </div>
      <button type="submit" class="btn btn-primary">Register</button>
      <p>Already have an account? <a href="#">Sign in</a>.</p>
    </form>

</div>
</section>
  <app-footer></app-footer>
